
.leaflet-container {
  background-color: rgb(178, 210, 222);
}
#map{
  max-width: 100%;
  width:500px;
  border-radius: 3px;
}

.mtuLabel {
  /*background: #5c1212;*/
  background: rgba(255, 255, 255, 0);
  border:0;
  border-radius: 0;
  box-shadow: 0 0 0;
}
.cluster-marker-icon{
  background-clip: padding-box;
  border-radius: 50%;
}
.cluster-marker-icon div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 50%;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.cluster-marker-icon span {
  line-height: 30px;
}

.cluster-marker-icon-1 {
  background-color: rgba(150,200,0,0.3);
}
.cluster-marker-icon-1  > div{
  background-color:  rgba(150,200,0,0.5);
}
.cluster-marker-icon-2 {
  background-color: rgba(238, 207, 83, 0.3);
}
.cluster-marker-icon-2  > div{
  background-color: rgba(238, 207, 83, 0.7);
}
.cluster-marker-icon-3 {
  background-color: rgba(150,200,0,0.3);
}
.cluster-marker-icon-3 > div{
  background-color: rgba(150,200,0,0.7);
}
.cluster-marker-icon-4 {
  background-color: rgba(150,200,0,0.3);
}
.cluster-marker-icon-4  > div{
  background-color: rgba(150,200,0,1);
}
