
.leaflet-container {
  background-color: rgb(178, 210, 222);
}
#map{
  max-width: 100%;
  width:500px;
  border-radius: 3px;
}

.mtuLabel {
  /*background: #5c1212;*/
  background: rgba(255, 255, 255, 0);
  border:0;
  border-radius: 0;
  box-shadow: 0 0 0;
}